.places__delete-button {
  min-width: 18px;
  height: 19px;
  flex-shrink: 0;
  background-image: url(../../../images/Delete-button.png);
  background-size: 18px 19px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 20px;
  right: 20px;
}

.places__delete-button:hover {
  opacity: 0.5;
}
