.logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 0 27px;
    margin-bottom: calc(31.6px - 1px);
  }
}
