.places__like-icon {
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/Like_disabled.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: white;
  grid-area: "icon-like";
}

.places__like-icon:hover {
  opacity: 0.5;
}
