.popup__info {
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 13px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
}

.popup__info::placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.popup__info::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.popup__info::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.popup__info::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .popup__info {
    max-width: 238px;
    margin: 0;
  }
}
