.popup__handlers {
  text-align: center;
  padding: 0;
  border: 0;
  margin: 48px 0 0;
}

@media screen and (max-width: 1023px) {
  .popup__handlers {
    max-width: 238px;
    margin: 45px 0 0;
  }
}
