.places__info {
  margin: 25px 0;
  max-width: 282px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*@media screen and (max-width: 1023px) {
  .places__info {
    justify-content: start;
  }
}*/
