.places__info {
  margin: 22px 0 17px 0;
  max-width: 282px;
  width: 100%;
  display: grid;
  grid-template-areas:
    ". place-like"
    "place-name place-like"
    ". place-like";
  justify-content: space-between;
  align-items: center;
}

/*@media screen and (max-width: 1023px) {
  .places__info {
    justify-content: start;
  }
}*/
